@import '../node_modules/bootstrap/scss/bootstrap.scss';

.todo-chip {
    margin: 10px;
    padding: 8px;
    color: white;
    background-color: red;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.todo-chip::after { content: " "; clear: both; }
.todo-chip > * { display: inline-block; vertical-align: middle; }
.todo-chip-delete {
    float: right;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: 0;
    border-radius: 360%;
    width: 26px;
    height: 26px;
    line-height: 1.2;
    font-size: 20px;
    margin-left: 10px;
}

.todo-chip.done {
    background-color: green;
}